body {
    padding-top: 115px;
    font-size: 14px;
}
small {
  color: #666;
}
.btn-primary {
    height: 45px;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    border-radius: 0;
    background-color: #47bac1;
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
    opacity: .8;
    background-color: #47bac1;
}
.btn-primary:focus {
    background-color: #47bac1;
}

.btn-primary[disabled]:hover {
    opacity: .65;
    background-color: #47bac1;
}
.btn {
    padding: 13px;
}
.lb-lg {
  font-size: 14px;
}
.btn-link {
  text-transform: none;
}
.row-shadow  {
    background-color: #f9f9f9;
}
#main-search-box {
    width: 435px;
    float: left;
    padding: 12px 20px 10px 0;
}
.categories li {
    margin-bottom: 6px;
    line-height: 22px;
    height: 24px;
}
.categories li a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #EEE;
    color: #444;
    line-height: 22px;
    padding: 1px 10px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 85%;
    vertical-align: middle;
}
#main-search-box .search-button {
    border-color: #47bac1;
    background-color: #47bac1;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border-radius: 0;
}
#main-search-box .search-button:hover {
    cursor: pointer;
}
#main-search-box .search-input {
    border-radius: 0;
}
.mainContent .featuredProducts .slide {
    cursor: default;
}
/*Tooltip*/
.tooltip-arrow {
    border-bottom-color: #999 !important;
}
.tooltip-inner {
    background-color: #999 !important;
}
/* categorias */
.categories {
    background: #fafafa;
    padding: 15px;
    margin-bottom: 30px;
}
.categories h4 {
    margin-bottom: 10px;
}
h4 {
    margin-bottom: 10px;
}
.category-letter {
    display: inline-block;
    color: #666;
    margin-left: -16px;
    text-align: center;
    width: 13px;
    vertical-align: middle;
}
.categories li a:hover {
    text-decoration: none;
    background-color: #DDD;
}
.fa-big {
    font-size: 18px;
}
.fa-user {
    color: #47bac1;
}
.fa-shopping-cart {
    color: #47bac1;
}
.fa-bell, .fa-bell-o {
    color: #ffb548;
}
.fa-heart, .fa-heart-o {
    color: #f45c5d;
}
.navbar-default .navbar-collapse li a {
    text-transform: none;
}
.mainContent {
    padding: 15px 0 60px 0;
}
.register-col .btn {
    padding: 13px 13px;
    margin: 15px;
}
.register-col .btn-primary {
    height: 45px;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    border-radius: 0;
    background-color: #47bac1;
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.register-col .btn-primary:hover {
    opacity: .8;
    background-color: #47bac1;
}
.register-col {
    background: #f0f0f0;
    margin-bottom: 20px;
    text-align: center;
}
.register-text {
    font-size: 20px;
    color: #666;
}
.slide h5 {
    margin-bottom: 5px;
    text-transform: none;
}
.featuredProductsSliderSlider h3 {
    color: #666;
}
.featuredProducts .slide .productImage {
    margin-bottom: 5px !important;
}
.productCaption h3 {
    font-size: 22px;
}
.mainContent .featuredProducts .slide:hover .productMasking ul {
    -webkit-animation: inherit;
    animation: inherit;
}
.mainContent .featuredProducts .slide .productImage .productMasking ul {
    position: absolute;
    top: 5px;
    left: 5px;
    -moz-transform: initial;
    -o-transform: initial;
    -ms-transform: initial;
    -webkit-transform: initial;
    transform: initial;
}
.mainContent .featuredProducts .slide .productImage .productMasking p.title {
    position: absolute;
    top: 50%;
    text-align: center;
    padding: 5px;
    color: #fff;
}
.tp-caption.rs-caption-2 {
    width: 300px;
    line-height: 25px !important;
}
/* Pagina de Categorias */
.categories-nav h4 {
    margin-bottom: 10px;
}
.categories-nav h5 a {
    color: #47bac1;
}
.categories-nav h5 a:hover {
    color: #47bac1;
}
.categories-nav h5 {
    margin-bottom: 5px;
    margin-top: 10px;
    text-transform: none;
}
.categories-nav a {
    color: #888;
}
.categories-nav a:hover {
    color: #333;
}
.pageHeader {
    height: 35px;
}
.pageHeader ol.breadcrumb li a {
    line-height: 35px;
}
.pageHeader ol.breadcrumb {
    float: left!important;
}
.productListSingle .media {
    margin-bottom: 0px;
}
.productListSingle .media .media-body p {
    margin-bottom: 10px;
}
.btn-group, .btn-group-vertical {
    margin-bottom: 10px;
}
.fa-gold {
    color: #ffb548;
    font-size: 18px;
}
.productListSingle .media .media-heading a{
    color: #47bac1 !important;
}
.productListSingle .media:hover h3{
    color: #666 !important;
}
.productListSingle .media h3{
    color: #999 !important;
    font-size: 20px;
}
.productListSingle .media .media-body .media-heading a {
    font-size: 16px;
}
.navbar-side-collapse .side-nav li .collapseItem li a, .sidebar-list li a {
    padding: 1px 0 1px 14px;
}
.sideBar .panel .panel-body {
    padding: 1px 15px;
}
.sideBar .panel-default {
    margin-bottom: 10px;
}
.navbar-side-collapse .side-nav li {
    margin-bottom: 1px;
}
.pageHeader ol.breadcrumb li a {
    text-transform: none;
}
.pageHeader ol.breadcrumb .active {
    text-transform: none;
}
.sideBar .panel .panel-heading {
    height: 35px;
    line-height: 35px;
}
.priceRange input[type='submit'] {
    margin-top: 20px;
    margin-bottom: 10px;
}
.priceRange .price-slider-inner .amount-wrapper {
    right: initial;
    top: 67px;
    bottom: initial;
    width: 85%;
}
.priceRange #price-amount-2 {
    text-align: left;
}
.priceRange .price-slider-inner .amount-wrapper input {
    width: 45%;
}

/* Pagination */
.pagination li.active span {
    background-color: #47bac1;
    border-color: #47bac1;
}
.pagination li.active span:hover {
    background-color: #47bac1;
    border-color: #47bac1;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #333;
}
.pagination>li>a {
    color: #333;
}
.productsContent .productBox .productImage {
    margin-bottom: 10px;
}
.productsContent .productBox .productCaption h5 {
    margin-bottom: 0px;
    min-height: 30px;
}
.productsContent .productBox .productCaption h6 {
    margin-bottom: 0px;
    margin-top: 0px;
    min-height: 35px;
}

.reputation-summary {
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 25px;
}

.reputation-seller-type {
    background-color: #eeeeee;
    margin: 5px;
    padding: 10px;
}

.reputation-big-txt {
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
}

.reputation-description-txt {
    font-size: 13px;
    margin-bottom: 10px;
}

/* Product page */
#carousel .carousel-inner>.item {
    height: 460px; /*can be anything*/
}
#carousel .carousel-inner>.item img {
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.singleProduct .media .media-body h2 {
    font-size: 24px;
}
.singleProduct .media .media-body h3 {
    color: #47bac1;
}
.singleProduct .media .media-body .list-inline li a:hover {
    color: #47bac1;
}
.singleProduct .media .media-body .list-inline li a {
    font-size: 14px;
}
.spinner {
    border-radius: 0;
    border: none;
    height: 50px;
    width: 50px;
    font-size: 18px !important;
}
.singleProduct .media .media-body .btn-area .btn-primary {
    width: 155px;
    margin-left: 15px;
}
.fa-product {
    font-size: 35px;
    line-height: 35px;
    vertical-align: middle;
    margin-left: 15px;
    color: #47bac1;
    opacity: 0.5;
}
.fa-product:hover {
    opacity: 0.7;
}
.fa-product-shield {
    font-size: 16px;
    margin-right: 5px;
    line-height: 16px;
    vertical-align: middle;
    color: #47bac1;
}
.product-payment-method-p {
    line-height: 16px;
}
.fa-credit-card-product {
    font-size: 16px;
    margin-right: 5px;
}
.singleProduct .media .media-body .tabArea .nav-tabs li a {
    text-transform: none;
}
.media-body p a {
    color: #47bac1;
}
.year-km-text {
    font-size: 16px;
    font-weight: bold;
    color: #666
}
.ad-contact-container {
    margin-top: 30px;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}
.ad-contact {
    margin-bottom: 0px;
    height: 160px !important;
    margin-top: 20px;
}
.singleProduct .media .media-body {
  width: none;
}
h4 span {
    color: #47bac1;
    text-transform: none;
}
/* Product list */
.alert-filter {
    color: #666666;
    background-color: #f0f0f0;
    border-color: #ddd;
    padding: 6px 15px;
    margin-bottom: 10px;
}
.alert-filter .close, .alert-dismissible .close {
    top: -4px;
    right: -10px;
    color: #333;
}
.form-control-price {
    width: 40%;
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}
#pricerange {
    margin-top: 10px;
}
.btn-favorite-marked i{
    color: #ffb548 !important;
}

.productsContent .productBox {
    cursor: default;
}
.productsContent .productBox:hover .productMasking ul {
    -webkit-animation: inherit;
    animation: inherit;
}

.productsContent .productBox .productImage .productMasking ul {
    position: absolute;
    top: 5px;
    left: 5px;
    -moz-transform: initial;
    -o-transform: initial;
    -ms-transform: initial;
    -webkit-transform: initial;
    transform: initial;
}

#list-no-items {
    margin-top: 15px;
    margin-left: 17px;
}
#list-no-items li {
    list-style-type: circle;
    margin-top: 5px;
}

/* product details */
div#question .has-success .input-group-addon {
    color: #47bac1;
    background-color: #c8eaed;
    border-color: #47bac1;
}
div#question .has-success .form-control {
    border-color: #47bac1;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
div#question {
    background-color: #eee;
    padding: 15px 10px;
}
div#questions .fa-comment, div#questions .fa-comments {
    color: #47bac1;
    font-size: 14px;
    margin-right: 10px;
}
div#questions .user-question {
    padding: 20px 10px 10px 15px;
}
div#questions .user-answer {
    padding: 0px 10px 10px 30px;
}
div#questions .question-item {
    border-bottom: 1px solid #ddd;
}
div#questions .row {
  border-bottom: 1px solid #ddd;
}

.arrow-box {
    top:40px;
    position: relative;
    background: #e6e6e6;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 15px;
    text-align: left;
}
.arrow-box:after,
.arrow-box:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow-box:after {
    background: #fff;
    border-color: #fff;
    border-bottom-color: #e6e6e6;
    border-width: 12px;
    left: 50%;
    margin-left: -12px;
}
.arrow-box:before {
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
}
.table-shipping-costs {
    font-size: 14px;
    background-color:#fff;
}
.table-shipping-costs .costs {
    text-align: right;
}
.line-desc {
  margin: 5px 0;
  font-size: 14px;
}
.properties-container {
  padding: 15px;
  background-color: #eee;
}
.property-name {
  font-weight: bold;
}
.property-value {
  margin-top: 10px;
}
.properties-container .col-md-3 {
  margin-bottom: 20px;
}
.params-container {
  padding: 15px;
}
.params-container .param {
  margin-bottom: 20px;
}
#pricerange {
    margin-bottom: 10px;
}
/* Summary */
.box-number-disabled {
    background: #999 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    float: left;
    margin-right: 10px;
    padding: 1px 15px;
    text-align: center;
    font-size: 14px;
}
.box-number-enabled {
    background: #dff0d8 none repeat scroll 0 0;
    border-radius: 5px;
    color: #666;
    float: left;
    margin-right: 10px;
    padding: 1px 15px;
    text-align: center;
    font-size: 14px;
}

.fa-light-gray {
    color: #999;
    font-size: 20px;
    margin-right: 10px;
}

.title-summary-light-gray {
    color: #999;
    text-transform: none;
    font-size: 20px;
}
.panel-body-summary {
    padding-right: 50px;
}

.summary-header {
    margin-bottom: -15px;
    margin-top: 50px;
}

.summary-item {
    margin-top: -13px;
    margin-bottom: -13px;
}

.pd-header {
    margin-bottom: -15px;
    margin-top: 30px;
}

.title-pd {
    color: #47bac1;
    text-transform: none;
    font-size: 20px;
}

.pd-item {
    margin-bottom: 14px;
    margin-top: -14px;
}

.pd-item a {
    color: #47bac1;
}

.pd-item a.hover{
    color: #47bac1;
}

.pd-link {
    margin-left: 10px;
}

.address-second {
    color: #999;
}

.mod-modal-header h4 {
    color: #47bac1;
}

.add-address {
    margin-top: 15px;
}

.add-address a {
    color: #47bac1;
}

.without-reputation-msg {
    border-radius: 10px;
    border-color: #999;
    border: solid 1px;
}

.without-reputation-main {
    margin-left: 20px;
    margin-top: 30px;
    font-size: 18px;
}
.missing-sales {
    margin-left: 20px;
    color: #999;
    margin-bottom: 30px;
}

.reputation-right-up-box {
    margin-top: 20px;
    border: solid 1px;
    border-radius: 10px;
}

.reputation-right-up-box .title {
    font-size: 16px;
    margin: 10px 10px 10px 10px;
    border-bottom: solid 1px;
    padding-bottom: 10px;
}

.reputation-right-up-box .content {
    margin-left: 10px;
    margin-bottom: 10px;
}

.reputation-right-up-box .content .content-link {
    margin: 20px 10px;
}

.reputation-right-up-box .content a {
    color: #47bac1;
}
.comment-user {
    color: #999;
    font-size: 14px;
    margin: 5px 0;
}
.comment-product {
    color: #999;
    font-size: 14px;
    margin: 5px 0;
}
.comment-user i {
    color: #999;
    font-size: 16px;
    margin-right: 7px;
}
.comment-product i {
    color: #999;
    font-size: 16px;
    margin-right: 7px;
}
.comment-title {
    white-space: nowrap;
    max-width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: bottom;
}
.popover-qualification .popover {
  position: relative;
  display: block;
  margin-bottom: 10px;
  max-width: 800px;
  z-index: 0;
}
.popover-qualification .popover.right {
  background-color: #EDF8F9;
}
.popover-qualification .popover.right>.arrow:after {
  border-right-color: #EDF8F9;
}

.qualification-text {
    text-align: center;
    font-size: 25px;
    color: #666;
    padding: 5px 0;
}
.fa-plus-circle-active {
    color: green;
}
.fa-dot-circle-active {
    color: #002DB2;
}
.fa-minus-circle-active {
    color: red;
}

.address-btn-group {
    height: 45px;
    float: right;
}

.address-btn-group .btn {
    padding: 5px 10px;
}

.fa-required {
    color: red;
    font-size: 7px;
    margin-left: 2px;
    vertical-align: middle;
}

.fa-star-reputation {
    font-size: 40px;
}

.fa-star-reputation-gray {
    color: #BBB;
}

.fa-star-reputation-yellow {
    color: #ffb548;
}

.reputation-header {
    height: 200px;
    padding-top: 50px;
}

.reputation-content {
   // min-height: 500px;
}

.calification-title {
    margin-top: 20px;
    font-size: 24px;
}

.reputation-username {
    font-size: 28px;
}

.reputation-address {
    color: #888;
    margin-top: 15px;
}

.reputation-punctuation {
    color: #888;
    margin-top: 2px;
}

.gray-stars {
    margin-top: 30px;
}

.arrow-box .col-md-3, .arrow-box .col-md-4 {
    padding: 20px 5px;
}

.without-reputation-msg-mini {
    margin-top: 20px;
    height: 60px;
    padding-top: 20px;
    background-color: #DDD;
}

.reputation-content-info {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}

.reputation-another-link {
    margin-top: 20px;
}
.reputation-another-link a {
    color: #47bac1;
}

.reputation-another-link a:hover {
    color: #47bac1;
}

.calification-table {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
}

.calification-table-cell {
    float: left;
    height: 60px;
    border: 1px solid #ddd;
    color: #888;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 40px;
}

.ends_at {
    color: #666;
    font-size: 12px;
    padding: 10px;
}

/* forms */

.form-field .form-group .form-control,
.form-body .panel .panel-body .form-group .form-control,
.lostPassword .panel .panel-body .form-group .form-control,
.form .panel .panel-body .form-group .form-control,
.commentsForm .form-group .form-control,
.stepsPage form .form-group .form-control,
.profile .form-horizontal .form-group .form-control {
    border-radius: 0;
    background-color: #f0f0f0;
    border: none;
    height: 50px;
    box-shadow: none;
}

.form-field .form-group .form-control:focus,
.form-body .panel .panel-body .form-group .form-control:focus,
.lostPassword .panel .panel-body .form-group .form-control:focus,
.form .panel .panel-body .form-group .form-control:focus,
.commentsForm .form-group .form-control:focus,
.stepsPage form .form-group .form-control:focus,
.profile .form-horizontal .form-group .form-control:focus {
    box-shadow: none;
}

.form-field,
.form-body .panel .panel-body,
.signUp .panel .panel-body,
.lostPassword .panel .panel-body,
.form .panel .panel-body,
.commentsForm {
    padding: 15px 30px;
}

.form-field .form-group,
.form-body .panel .panel-body .form-group,
.lostPassword .panel .panel-body .form-group,
.form .panel .panel-body .form-group,
.commentsForm .form-group {
    margin-bottom: 30px;
}

.form-field .form-group label,
.form-body .panel .panel-body .form-group label,
.lostPassword .panel .panel-body .form-group label,
.form .panel .panel-body .form-group label,
.commentsForm .form-group label {
    font-size: 13px;
}

.form-field .checkbox,
.form-body .panel .panel-body .checkbox,
.lostPassword .panel .panel-body .checkbox,
.form .panel .panel-body .checkbox,
.commentsForm .checkbox {
    margin: 0 0 30px 0;
}

.form-field .checkbox label,
.form-body .panel .panel-body .checkbox label,
.signUp .panel .panel-body .checkbox label,
.lostPassword .panel .panel-body .checkbox label,
.form .panel .panel-body .checkbox label,
.commentsForm .checkbox label,
#login .modal-dialog .modal-content .modal-body .checkbox label,
#signup .modal-dialog .modal-content .modal-body .checkbox label {
    font-size: 13px;
}


.form-field .btn-primary:hover,
.form-body .panel .panel-body .btn-primary:hover,
.signUp .panel .panel-body .btn-primary:hover,
.lostPassword .panel .panel-body .btn-primary:hover,
.form .panel .panel-body .btn-primary:hover,
.commentsForm .btn-primary:hover,
#login .modal-dialog .modal-content .modal-body .btn-primary:hover,
#signup .modal-dialog .modal-content .modal-body .btn-primary:hover {
    opacity: .9;
}

.form-field .btn-link,
.form-body .panel .panel-body .btn-link,
.signUp .panel .panel-body .btn-link,
.lostPassword .panel .panel-body .btn-link,
.form .panel .panel-body .btn-link,
.commentsForm .btn-link,
#login .modal-dialog .modal-content .modal-body .btn-link,
#signup .modal-dialog .modal-content .modal-body .btn-link {
    color: #47bac1;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.form-field .btn-link:hover,
.form-body .panel .panel-body .btn-link:hover,
.signUp .panel .panel-body .btn-link:hover,
.lostPassword .panel .panel-body .btn-link:hover,
.form .panel .panel-body .btn-link:hover,
.commentsForm .btn-link:hover,
#login .modal-dialog .modal-content .modal-body .btn-link:hover,
#signup .modal-dialog .modal-content .modal-body .btn-link:hover {
    text-decoration: none;
    color: #4dc8cf;
}

.form-body .panel,
.signUp .panel,
.lostPassword .panel,
.form .panel {
    border-radius: 0;
    border: none;
}

.form-body .panel .panel-heading,
.signUp .panel .panel-heading,
.lostPassword .panel .panel-heading,
.form .panel .panel-heading {
    background-color: #47bac1;
    border-radius: 0;
    padding: 0 15px;
    height: 60px;
}

.form-body .panel .panel-heading h3,
.signUp .panel .panel-heading h3,
.lostPassword .panel .panel-heading h3,
.form .panel .panel-heading h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 700;
    color: #ffffff;
    line-height: 60px;
}

.form-body .panel .panel-body,
.signUp .panel .panel-body,
.lostPassword .panel .panel-body,
.form .panel .panel-body {
    border: 5px solid #f0f0f0;
    border-top: none;
}

.form-body .panel .panel-body .btn-link span,
.signUp .panel .panel-body .btn-link span,
.lostPassword .panel .panel-body .btn-link span,
.form .panel .panel-body .btn-link span {
    color: #797979;
}

/* Sell */
#pub-labels .btn {
  text-transform: none;
}
.category-type {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.category-name {
    width: 160px;
    margin: 0 auto;
    padding: 90px 0;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}
.category-list {
    font-size: 13px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
.category-column {
  margin: 20px 0 10px 0;
}

/* file uploader */
.file-uploader {
    
}
.file-uploader-left {
	float: left;
	text-align: center;
}
.b-upload {
	white-space: nowrap;
}
.b-upload__name,
.b-upload__size {
    display: inline-block;
    position: relative;
    overflow: hidden;
    max-width: 150px;
    vertical-align: middle;
}
.b-upload__size {
    color: #666;
    font-size: 12px;
}

.b-upload .js-files:after {
    clear: both;
    content: '';
    display: block;
}

.b-upload__dnd {
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,.1);
}
.b-upload__dnd_hover {
    color: #fff;
    background-color: orange;
}

.b-upload__hint {
    padding: 5px 8px;
    font-size: 12px;
    white-space: normal;
    border-radius: 3px;
    background-color: rgba(0,0,0,.08);
}

.b-thumb {
	float: left;
	margin: 3px;
	padding: 5px;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	box-shadow: 0 0 2px rgba(0,0,0,.4);
}
.b-thumb__del {
    top: -2px;
    right: -1px;
    color: #999;
    cursor: pointer;
    opacity: 0;
    z-index: 999;
    position: absolute;
    font-size: 20px;
    -webkit-transition: opacity .1s ease-in;
    -moz-transition: opacity .1s ease-in;
    transition: opacity .1s ease-in;
}
.b-thumb:hover .b-thumb__del {
    opacity: 1;
}

.b-thumb__rotate {
    top: 40%;
    left: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin: -16px 0 0 -16px;
    position: absolute;
    background: url('uploader/rotate.png');
}

.b-thumb__preview {
    width: 80px;
    height: 80px;
    -webkit-transition: -webkit-transform .2s ease-in;
    -moz-transition: -moz-transform .2s ease-in;
    transition: transform .2s ease-in;
}
.b-thumb__preview__pic {
    width: 100%;
    height: 100%;
    background: url('uploader/file-icon.png') 50% 50% no-repeat;
}

.b-thumb__name {
    width: 80px;
    overflow: hidden;
    font-size: 12px;
}

.b-thumb__progress {
    top: 75px;
    left: 10px;
    right: 10px;
    position: absolute;
}


.thumb-bg {
    border: 1px dashed #999;
    cursor: pointer;
    float: left;
    margin: 3px;
    padding: 4px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

.thumb-placeholder {
    border: 1px dashed #999;
    cursor: pointer;
    float: left;
    margin: 3px;
    padding: 4px;
    overflow: hidden;
    position: relative;
    background-color: #e7efef;
    width: 80px;
    height: 80px;
}
.btnx input {
    height: 1px;
    top: 0px;
    right: -40px;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 50px;
    cursor: pointer;
}
.btnx {
	cursor: pointer;
	*zoom: 1;
	*display: inline;
	display: inline-block;
	position: relative;
	overflow: hidden;
	font-size: 20px;
	font-family: Arial;
	border-radius: 4px;
	vertical-align: middle;
}
.progress-small {
    height: 5px;
    padding: 1px;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
}
.progress-small .bar {
    width: 0;
    height: 100%;
    position: static;
    border-radius: 10px;
    background-color: orange;
}
.plan-target li {
     color: #666;
}
.plan-target {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}
.target-active {
    border: 1px solid #47bac1 !important;
}
.target-active h3 {
    background-color: #47bac1;
    color: #fff;
}
.target-active .fa-check{
    position: absolute;
    top: 20px;
    right: 25px;
    color: #fff;
    font-size: 20px;
}
.plan-price {
    background-color: #f9f9f9;
    padding: 10px;
}
.plan-target h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px !important;
    text-align: center;
}
.plan-price-value {
    text-align: center;
    font-size: 30px;
    color: #47bac1;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 10px;
}
.plan-price-spec {
    text-align: center;
    font-size: 14px;
    color: #666;    
}
.plan-spec {
    padding: 20px 10px;
    text-align: center;
    font-size: 15px;
}
.parameters {
    font-weight: normal !important;
    font-size: 12px;
}

tr.row-notes:hover {
    background-color: #ffffff !important;
}
tr.row-notes>td {
    border-top: none !important;
/*    padding: 0px 8px !important;*/
}

/* favorites */
.table-favorites td {
    vertical-align: middle !important;
}
.table-favorites span.price {
    color: #47bac1;
    font-weight: bold;
    font-size: 16px;
}

/* qualifications */
.product-container {
    padding: 20px;
    background-color: #efefef;
    border-radius: 5px;
    width: 200px;
    margin: 0 auto;
}

/* publications */
.dropdown-menu.menu-publications {
    left: -105px !important;
}
.div-publications {
    min-height: 250px;
}
#shipping-costs-add {
    margin-top: 5px;
    margin-bottom: 20px;
}
.cost-line {
    margin: 7px 0;
}
.pub-filter .sbOptions a {
    font-size: 12px;
}

ul.ul-help li {
    padding: 15px;
    background: #fcfcfc;
    border-bottom: 1px solid #ececec;
}ul.ul-help li:hover {
    background: #f6f6f6;
}
ul.ul-help a {
    color: #47bac1;
    font-weight: 600;
}

@media (max-width: 450px) {
    #main-search-box {
        width: 285px;
    }
}
@media (min-width: 480px) {
    .filterArea .btn-group .btn-default i {
        margin-right: 0px;
    }
    .filterArea .btn-group .btn-default {
        width: 40px;
    }
    .singleProduct .media .media-body .tabArea {
       width: 291px;
    }
    .tp-caption.rs-caption-2 {
        width: 250px !important;
        line-height: 25px !important;
    }
}
@media (max-width: 767px) {
    .bannercontainer {
        display: none;
    }
}
@media (min-width: 768px) {
    .navbar-header {
        width: 232.5px;
    }
    #main-search-box {
        width: 500px;
        float: right;
        padding: 12px 0px 10px 0;
    }
    .productListSingle .media .media-left {
        width: 150px;
    }
    .userProfile .innerWrapper .list-inline li .btn-lg {
      padding: 5px 0;
    }
}
@media (min-width: 992px) {
    body {
        padding-top: 60px;
    }
    #main-search-box {
        width: 345px;
        float: left;
    }
    .tp-caption.rs-caption-2 {
        width: 350px !important;
        line-height: 25px !important;
    }
    .userProfile .innerWrapper .list-inline li .btn-lg {
      padding: 20px 0;
    }
}
@media (min-width: 1200px) {
    #main-search-box {
        width: 500px;
    }
    .userProfile .innerWrapper .list-inline li .btn-lg {
      padding: 30px 0;
    }
    .categoryProductsSlider .productCaption h3 {
        font-size: 18px;
    }
}
